.content {
  font-family: sans-serif;
}
h2, h3 {
  padding: 8px;
}
table, h2, h3 {
  border-spacing: 0;
  margin: auto;
  width: 80%;
}
table tr{
  background: white;
}
table tr:hover {
  background-color: lightgray;
}
th, td {
  border-top: 1px solid #ddd;
}
td.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
td.detail {
  color: dimgrey;
  font-size: 14px;
  padding: 2px 15px;
  text-align: left;
  vertical-align: top;
  width: 15%;
}
.fname {
  color: dodgerblue;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 15px;
}
a {
  color: dodgerblue;
  text-decoration: none;
}
.desc {
  font-size: 14px;
  padding: 0px 15px 2px 15px;
}
.update {
  color: dimgrey;
  font-size: 12px;
  padding: 3px 15px;
}
i {
  color: dimgrey;
  font-size: 15px;
}
table tr.page:hover {
  background-color: white;
}
td.paging {
  text-align: center;
  padding: 5px;
}
ul.pagination {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
ul.pagination li a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
