<div class="content">
  <h3>{{title}}</h3>
  <div class="search">
    <span class="fa fa-search" (click)="searchGitHub(search.value)"></span>
    <input #search class="search" type="text" placeholder="Search..." (keyup.enter)="searchGitHub(search.value)">
    <div *ngIf="error" class="error">{{error.message}}</div>
  </div>
  <h4>{{collection.total_count | number}} repository results</h4>
  <table *ngIf="!error" class="githubs">
    <tr *ngFor="let item of collection.items | paginate: config">
      <td class="item">
        <div class="fname"><a [href]="item.html_url">{{item.full_name}}</a></div>
        <div class="desc">{{item.description}}</div>
        <div class="update">Updated on {{item.updated_at | date:'EEE LLL dd yyyy'}}</div>
      </td>
      <td class="detail">
        <div>
            <i class="fas fa-circle"></i> {{item.language}}
        </div>
      </td>
      <td class="detail">
        <div>
            <i class="fas fa-star"></i> {{item.stargazers_count | number}}
        </div>
      </td>
    </tr>
    <tr class="page">
      <td colspan=3 class="paging">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </td>
    </tr>
  </table>
</div>
