<div class="content">
  <h3>{{title}}</h3>
  <div class="search">
    <span class="fa fa-search"></span>
    <input #search class="search" type="text" placeholder="Search...">
  </div>
  <h4>536993 repository results</h4>
  <table class="githubs">
    <tr>
      <td class="item">
        <div class="fname"><a [href]="">facebook/react</a></div>
        <div class="desc">A declarative, efficient and flexible Javascript library for building user interfaces.</div>
        <div class="update">Updated on Tue Jul 03 2018</div>
      </td>
      <td class="detail">
        <div>
            <i class="fas fa-circle"></i> Javascript
        </div>
      </td>
      <td class="detail">
        <div>
            <i class="fas fa-star"></i> 105262
        </div>
      </td>
    </tr>
    <tr class="page">
      <td colspan=3 class="paging">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </td>
    </tr>
  </table>
</div>
